.movie{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    width: 20%;
    text-align: center;
    transition: 0.25s;
}
.image{
    width: 150px;
    padding-bottom: 20px;
}

.details{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(127, 214, 236);
    align-items: center;
    width: 20%;
    cursor: pointer;
    transition: 0.25s;

}
